@charset "UTF-8";

@media screen (min-width: 600px) and (max-width: 768px){
    body{
        background-attachment: fixed;
    }
    section{
        font-size: 5em;
    }

    section#img01{
        background-size: auto;
    }

    section#img02{
        background-image: url(img/estrela-poeiraegases\ -\ Copia.jpg)
    }
}